.ecg-chart-container{
  background-color: black;
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  color: #333;
  /* stroke-width: 3; */
  gap: 10px;
  width: 100%;
}

.ecg-chart-item-container{
  border: 2px solid gray;
  /* width: 45%; */
}